<%= form_for @airline, html: {class: "new_airline", id: "new_airline"} do |f| %>
  <% if @airline.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@airline.errors.count, "error") %> prohibited this airline from being saved:</h2>
	    <ul>
	      <% @airline.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
<div class="row">
  <div class="small-6 large-6 columns">
    <div class="panel callout radius">
      <h3>Your favorite Airline not here? </h3>
      <h4>Just add it</h4>
        <div class='row'>
          <%= f.label :name, 'Airline Name' %>
          <%= f.text_field :name%>
        </div>
        <div class='row'>
          <%= f.label :destinations %>
          <%= f.text_field :destinations %>
        </div>
        <div class='row'>
          <%= f.label :overall_rating %>
          <%= f.text_field :overall_rating%>
        </div>
        <div class="submit">
          <%= f.submit "Add Airline" %>
        </div>
    </div>
  </div>
</div>
<% end %>
